<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>jsp3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- calhost:8082/jsp3/first.jcp일 때, 
  	요청을 처리하는 Servlet(서블릿) Java 클래스는 com.jcpdev.action.FirstServlet
  	참고: jsp2프로젝트까지는 요청을 처리하는것 jsp(톰캣서버가.java로 변환 -> 컴파일.class -> 실행 -> 응답(html형식)
  -->
  <servlet>
  <!-- 서블릿 이름과 해당하는 클래스를 지정 -->
  	<servlet-name>first</servlet-name>
  	<servlet-class>com.jcpdev.action.FirstServlet</servlet-class>
  </servlet>
  <!-- url요청이 들어올 때, 매핑할 서블릿 이름 -->
  <servlet-mapping>
  	<servlet-name>first</servlet-name>
  	<url-pattern>/first.dev</url-pattern>
  </servlet-mapping>
  
</web-app>